INSTALL
*.o 
*~
gapphot_TE/kk/cat2sh
gapphot_TE/kk/cat2shcov
gapphot_TE/kk/cat2sherr
gapphot_TE/kk/fitpsfmap
gapphot_TE/kk/fracpower
gapphot_TE/kk/libshape.a
gapphot_TE/kk/libutil.a
gapphot_TE/kk/listfitbeta
gapphot_TE/kk/listpsfcorphot40
gapphot_TE/kk/psfcat2sh
gapphot_TE/kk/psfcat2sherr
gapphot_TE/kk/reconstructimage
gapphot_TE/kk/selectpsfstars
gapphot_TE/kk/selectpsfstars_auto
gapphot_TE/kk/sh2g
gapphot_TE/kk/sh2gerr
gapphot_TE/kk/sh2gerrshift
gapphot_TE/kk/sh2gerrshift012
gapphot_TE/kk/sh2gerrshift_o4
gapphot_TE/kk/sh2p
gapphot_TE/kk/shearstats
gapphot_TE/kk/shearstats2
gapphot_TE/kk/showpsfmap
gapphot_TE/kk/showsh
gapphot_TE/kk/sortbybeta
gapphot_TE/kk/stackshear
